In [9]:
import numpy as np
import pandas as pd

In [10]:
mails = pd.read_csv("spam.csv",encoding='latin-1')

In [11]:
mails.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [12]:
mails.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [13]:
mails.rename(columns={'v1':'label','v2':'message'},inplace=True)

In [14]:
mails.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
mails.shape

(5572, 2)

In [18]:
duplicate_pairs = mails.sort_values('message', ascending=False).duplicated('message')
print("Total number of duplicate mails : ", duplicate_pairs.sum())

Total number of duplicate mails :  403

## Remove Duplicates

In [20]:
df = mails[~duplicate_pairs]
print("Dataframe shape before duplicate removal : ", mails.shape)
print("Dataframe shape after duplicate removal : ", df.shape)

Dataframe shape before duplicate removal :  (5572, 2)
Dataframe shape after duplicate removal :  (5169, 2)

C:\Users\Code_love_r\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.